<div class="container-fluid p-0 m-0 page">
    <div class="row d-flex flex-row page-content">
        <aside class="col-12 col-md-3 d-flex justify-content-center align-items-center aside">
            <h2 class="aside-title">
                Routing Angular
            </h2>
        </aside>
        
        <div class="col-12 col-md-9 p-4 screen-content">
            <div class="row">
                <div class="col">
                    <h2 class="screen-title">MANEJO DE ROUTING EN ANGULAR</h2>
                    <p>Mecanismo que sirve para asignar rutas a los componentes. Mediante ella podemos acceder atraves de links</p>
                    <p>Para usar el routing en un proyecto se debe: </p>
                    
                    <ul>
                        <li>Configurar un módulo como ejemplo, en app.module.ts</li>
                        <li>Crear la constante de RUTAS
                            <pre><code>{{"\nconst appRutas: Routes = \[ \n \{ path: '', component: nameComponent \}, \n \{ path: 'interpolaciòn', component: otherComponent \}\]"}}
                            </code></pre>
                        </li>
                        <li>Importar la configuracion de rutas: 
                            <pre><code>{{"\nimport { RouterModule, Routes } from '@angular/router';"}}
                            </code></pre>
                        </li>
                        <li>Impotarlo configuración dentro del array imports[...]
                            <pre><code>
                                {{
                                    " imports: \[ BrowserModule, AppRoutingModule, FormsModule, RouterModule.forRoot(appRutas)\],"
                                }}
                            </code></pre>
                        </li>
                        <li>Inscribir en app.component.html
                            <pre><code>{{"\<router-outlet>\</router-outlet>"}} </code></pre>
                        </li>
                        <li>
                            Usar las rutas en links
                        </li>
                        
                    </ul>
                    
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h2 class="screen-title">Ejemplo</h2>
                    <table>
                        <th colspan="2" class="table-title">
                            Manejo de Routing en Angular
                        </th>
                        <tbody>
                            <tr>
                                <td class="col-6">Código</td>
                                <td class="col-6" >Resultado</td>
                                
                            </tr>
                            <tr>
                                <td class="col-6">
                                    <div class="col my-5">
                                        <!-- <p>Se ha creado un servicio en shared/services/servicio-ejemploService llamado ServicioEjemploService</p> -->
                                    </div>
                                    
                                </td>
                                <td class="col-6">
                                    <div class="col my-5">
                                        <!-- Obteniendo satelites de un servicio <br> -->
                                        
                                    </div>
                                </td>
                            </tr>
                    
                        </tbody>
                    </table>
                </div>
            </div>
        </div>        
    </div>
</div>