<div class="container-fluid p-0 m-0 page">
    <div class="row d-flex flex-row page-content">
        <aside class="col-12 col-md-3 d-flex justify-content-center align-items-center aside">
            <h2 class="aside-title">
                
                Comunicacion Hijo a Padre
            </h2>
        </aside>
        
        <div class="col-12 col-md-9 p-4 screen-content">
            <div class="row">
                <div class="col">
                    <h2 class="screen-title">COMUNICACION HIJO A PADRE</h2>
                    <p>Mecanismo en el que un componente hijo de pasa varialbes o datos a su componente Padre.</p>
                    
                    <p>Para comunicar se una la anotaciòn <strong class="screen-title">{{ "@output() mensajeDesdeElPadre: any" }}</strong> y debe estar declarada en el hijo</p>
                    
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h2 class="screen-title">Ejemplo</h2>
                    <table>
                        <th colspan="2" class="table-title">
                            Comunicaciòn Padre a Hijo
                        </th>
                        <tbody>
                            <tr>
                                <td class="col-6">Descripciòn</td>
                                <td class="col-6" >Ejemplo</td>
                                
                            </tr>
                            <tr>
                                <td class="col-6">Los datos salen del EventEmitter y se introducen en la funcion del padre 'agregarPlaneta'</td>
                                
                                <td class="col-6">
                                    <ul style="list-style: none;">
                                    <li *ngFor="let planeta of planetas">{{planeta}}</li>
                                    <app-componente-hijo-dos (listaDePlanetas)="agregarPlaneta($event)"></app-componente-hijo-dos>
                                                                    
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>        
    </div>
</div>