.aside {
   
    color: #fafaff;
    text-align: center;
    background: rgb(135, 36, 9);
    background: linear-gradient(90deg, rgb(135, 36, 9) 0%, rgb(135, 36, 9) 87%, rgb(230, 122, 55) 87%, rgb(230, 122, 55) 92%, rgb(255, 174, 150) 92%, rgb(255, 174, 150,1) 96%, rgba(251,202,239,1) 96%, rgba(251,202,239,1) 96%);
}