<div class="container-fluid p-0 m-0 page">
    <div class="row d-flex flex-row page-content">
        <aside class="col-12 col-md-3 d-flex justify-content-center align-items-center aside">
            <h2 class="aside-title">
                Librería Formly
            </h2>
        </aside>
        <div class="col-12 col-md-8 p-4 screen-content">
            <div class="row">
                <div class="col">
                    <h2 class="screen-title">Librería Formly</h2>
                    <div>Es una libreria que permite generar formlularios con el uso de JSON's. Un JSON usa propiedades que se pueden modificar, añadir o cambiar. Estas configuraciones se ve reflejadas cuando el formulario se renderiza</div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="step">
                        <h2>Instalaciòn de Formly</h2>
                        <pre><code>npm install @angular/forms @ngx-formly/core @ngx-formly/bootstrap --save
                        </code></pre>
                        
                    </div><p><i>bootstrap</i> puede ser cambiado por otros temas disponibles como <i>material</i>, <i>ionic</i>, <i>primeng</i></p>
                    <div class="step">
                        <h2>Importaciòn de mòdulos</h2>
                        <p>En el AppModule dentro del arreglio <i>imports</i>
                        </p>
                        <ul>
                            <li>ReactiveFormsModule</li>
                            <li>FormlyModule.forRoot()</li>
                            <li>FormlyBootstrapModule</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h2>Estructura necesaria para componer un formulario en Formly</h2>
                    <p>Para componer un formulario en Formly</p>
                    <pre><code>{{"\<form \[formGroup\]='form' \(ngSubmit\)='onSubmit\(model\)'\>\n\<formly-form \[form\]='form' \[fields]='fields' \[model\]='model'\>\</formly-form\>\n\<button type='submit' class='btn btn-default'\>Submit\</button\>\n\</form\>"}}
                    </code></pre>
                    <p>Donde: </p>
                    <ul>
                        <li>[formGroup]: Es el objejo de la clase FormGroup del paquete Forms de angular</li>
                        <li>[form]: Es el nombre de la instancia del formulario</li>
                        <li>[fields]: Campos del formulario JSON</li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <form [formGroup]="form" (ngSubmit)="onSubmit(model)">
                        <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>