<div class="container-fluid p-0 m-0 page">
    <div class="row d-flex flex-row page-content">
        <aside class="col-12 col-md-3 d-flex justify-content-center align-items-center aside">
            <h2 class="aside-title">
                DIRECTIVA NgClass
            </h2>
        </aside>
        
        <div class="col-12 col-md-9 p-4 screen-content">
            <div class="row">
                <div class="col">
                    <h2 class="screen-title">DIRECTIVA NGCLASS</h2>
                    <p>Mecanismo para asignar clases CSS a elementos HTML.</p>
                    
                    <p>Para usar NgClass <strong class="screen-title">{{ "\[ngClass\]=\{'cssClass: expression}" }}</strong></p>
                    
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h2 class="screen-title">Ejemplo</h2>
                    <table>
                        <th colspan="2" class="table-title">
                            DIRECTIVA NgClass
                        </th>
                        <tbody>
                            <tr>
                                <td class="col-6">Código</td>
                                <td class="col-6" >Resultado</td>
                                
                            </tr>
                            <tr>
                                <td class="col-6">NgClass con uno o varios clase.</td>
                                <td class="col-6">
                                    <p [ngClass]="'first second third'">Soy un elemento con una clase dentro de NgClass</p>
                                    
                                </td>
                            </tr>

                            <tr>
                                <td class="col-6">NgClass con uno o varios clase desde un array.</td>
                                <td class="col-6">
                                    <p [ngClass]="['first', 'second']">Soy un elemento con dos clases dentro de un array en  NgClass</p>
                                </td>
                            </tr>

                            <tr>
                                <td class="col-6">NgClass con uno o varios clases dependientes de una condiciòn.</td>
                                <td class="col-6">
                                    <p [ngClass]="{'first': false, 'second': true, 'third': false}">Soy un elemento con clases condicionadas</p>
                                </td>
                            </tr>

                            <tr>
                                <td class="col-6">NgClass con algunos clases dependientes de una condiciòn.</td>
                                <td class="col-6">
                                    <p [ngClass]="{fourth: operacionBooleana == true, 'second': true, 'third': false}">Soy un elemento con clases que dependen de una condiciòn</p>
                                </td>
                            </tr>

                            <tr>
                                <td class="col-6">NgClass varios clases dependientes de una condiciòn.</td>
                                <td class="col-6">
                                    <p [ngClass]="{'first second third fourth': operacionBooleana == true}">Soy un elemento con clases que dependen de una condiciòn</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-6">NgClass varios clases en un array.</td>
                                <td class="col-6">
                                    <p [ngClass]="arrayDeClases">Soy un elemento con clases de un array</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-6">NgClass varios clases .</td>
                                <td class="col-6">
                                    <p [ngClass]="objetoDeClases">Soy un elemento con pares 'clase': 'booleano' de un objeto</p>
                                </td>
                            </tr>
                            

                        </tbody>
                    </table>
                </div>
            </div>
        </div>        
    </div>
</div>