.first {
    background-color: blueviolet;
}

.second {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.third {
    background-color: saddlebrown;
}

.fourth {
    box-shadow: 2px 2px 2px 2px #0a0a0a;
}