<div class="container-fluid p-0 m-0 page">
    <div class="row d-flex flex-row page-content">
        <aside class="col-12 col-md-3 d-flex justify-content-center align-items-center aside">
            <h2 class="aside-title">
                Manejo de Servicios en Angular
            </h2>
        </aside>
        
        <div class="col-12 col-md-9 p-4 screen-content">
            <div class="row">
                <div class="col">
                    <h2 class="screen-title">MANEJO DE SERVICIOS EN ANGULAR</h2>
                    <p>Un servicio sirve para gestionar datos para obtenerlos, editarlos o inyectarlos. Las acciones se hacen desde y hacia los componentes</p>
                    <p>Los datos pueden ser manipulados desde un servicio externo como una base de datos o locales, desde un array</p>
                    <p>Para crear un servicio:</p>
                    <ul>
                        <li>Se ejecuta "ng g s ruta/nombreServicio"</li>
                        <li>Crear metodos dentro del servicio</li>
                        <li>Impotarlo en un modulo dentro del array providers[...]
                            <ul>
                                <li>Global: en app.module.ts</li>
                                <li>Modulo: en modulo.module.ts solo tienen acceso los componentes de ese modulo</li>
                                <li>Componente: servicio disponible solo para un componente</li>
                            </ul>
                        </li>

                        <li>Inyectarlo en el constructor de cualquier componente hijo:
                            <pre><code>
                                constructor(private nombreServicio: ServicioEjemploService)
                            </code></pre>
                        </li>
                    </ul>
                    
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h2 class="screen-title">Ejemplo</h2>
                    <table>
                        <th colspan="2" class="table-title">
                            Manejo de Servicios en Angular
                        </th>
                        <tbody>
                            <tr>
                                <td class="col-6">Código</td>
                                <td class="col-6" >Resultado</td>
                                
                            </tr>
                            <tr>
                                <td class="col-6">
                                    <div class="col my-5">
                                        <p>Se ha creado un servicio en shared/services/servicio-ejemploService llamado ServicioEjemploService</p>
                                    </div>
                                    
                                </td>
                                <td class="col-6">
                                    <div class="col my-5">
                                        Obteniendo satelites de un servicio <br>
                                        <ul>
                                            <li *ngFor="let satelite of obtenerSatelites()">
                                                {{satelite.nombre}}
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-6">
                                    <div class="col my-5">
                                        <h4>Servicio dentro de otro</h4>
                                        <p>Para usar un servicio dentro de otro se usa el decorador</p>
                                        <pre> <code>@inyectable()</code></pre>
                                        <p>En el servicio principal</p>
                                    </div>
                                    
                                </td>
                                <td class="col-6">
                                    <div class="col my-5">
                                        Obteniendo satelites de un servicio dentro de otro<br>
                                        
                                            <ng-container *ngFor="let satelite of obtenerSatelites();">
                                                <p *ngIf="satelite.nombre == 'Luna'">{{distancia(satelite.nombre)}}</p>
                                            </ng-container>
                                            
                                        
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>        
    </div>
</div>