<div class="container-fluid p-0 m-0 page">
    <div class="row d-flex flex-row page-content">
        <aside class="col-12 col-md-3 d-flex justify-content-center align-items-center aside">
            <h2 class="aside-title">
                Elementos ng-especiales
            </h2>
        </aside>

        <div class="col-12 col-md-9 p-4 screen-content">
            <div class="row">
                <div class="col">
                    <h2 class="screen-title">USO DE ELEMENTOS ESPECIALES NG</h2>

                    <p>Los elementos ng-tipo son elementos especiales que se renderizan bajo ciertas condiciones</p>
                    <p>Los tipos de elementos son:</p>
                    <ul>
                        <li>ng-container</li>
                        <li>ng-template</li>
                        <li>ng-content</li>
                    </ul>

                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h2 class="screen-title">Ejemplo</h2>
                    <table>
                        <th colspan="2" class="table-title">
                            Manejo de Servicios en Angular
                        </th>
                        <tbody>
                            <tr>
                                <td class="col-4">Elemento</td>
                                <td class="col-4">Utilidad</td>
                                <td class="col-4">Resultado</td>

                            </tr>
                            <tr>
                                <td>Ng-container</td>
                                <td>Elemento que puede contener directivas de angular segùn las cuales el elemento puede
                                    renderizarse o no
                                    <ul>
                                        <li>Con directiva *ngFor para evitar renderizado cuando no se cumple una
                                            condiciòn interna</li>
                                        <li>Con directiva *ngIf no se renderiza si no cumple la condiciòn</li>
                                    </ul>
                                </td>
                                <td>
                                    <ng-container *ngFor="let satelite of satelites">
                                        <ng-container *ngIf="satelite.nombre === 'Europa'">{{satelite.nombre}}
                                        </ng-container>
                                    </ng-container>
                                </td>
                            </tr>
                            <tr>
                                <td>Ng-Template</td>
                                <td>Elemento que se no se renderiza en el DOM. Similar a el elemento template de HTML,
                                    sirve como una plantilla que se renderiza solo cuando se importa al DOM o cuando
                                    cumple una condiciòn</td>
                                <td>
                                    <div>
                                        <p *ngIf="false; else template">No me renderizo</p>
                                        <ng-template #template>
                                            <p>Soy una plantilla que se renderizò cuando cumpli una condiciòn</p>
                                        </ng-template>
                                    </div>
                                 
                                </td>
                            </tr>
                            <tr>
                                <td>[ngTemplateOutlet]</td>
                                <td>Directiva que sirve para renderizar fragmentos de HTML que se reutilizaràn varias
                                    veces
                                    <p>context: implicit, asigna un valor por defecto a una variable de la template</p>
                                </td>
                                <td>

                                    <!-- … -->
                                    <ng-container *ngTemplateOutlet="tmpl; context: {$implicit: 'Hello'}">
                                    </ng-container>
                                    <!-- … -->
                                    <ng-container
                                        *ngTemplateOutlet="tmpl; context: {$implicit: 'Soy una Plantilla importada', key2: ' --- YO SOY UN VALOR POR DEFECTO --- '}">
                                    </ng-container>
                                    <!-- … -->
                                    <ng-template #tmpl let-text let-key2="key2">
                                        <h1>{{ text }}</h1>
                                        <p>Soy una plantilla que se renderizarà con varios valores por defecto{{key2}}
                                        </p>
                                    </ng-template>


                                </td>
                            </tr>
                            <tr>
                                <td>Ng-Content</td>
                                <td>Sirve para reutilizar un elemento con un selector Unico e otro componente (revisar)
                                </td>
                                <td>
                                    <p class="imagen-clase-unica">Elemento</p>
                                    <ng-content select=".imagen-clase-unica"></ng-content>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>