<div class="container-fluid">
    <div class="row">
        <div class="col">
            <p>Soy el componente hijo y recibo planetas: {{planetasDeHijo.id}}. {{planetasDeHijo.nombre}}</p>
        </div>
    </div>
</div>