<div class="container-fluid p-0 m-0 page">
    <div class="row d-flex flex-row page-content">
        <aside class="col-12 col-md-3 d-flex justify-content-center align-items-center aside">
            <h2 class="aside-title">Formularios de Angular</h2>
        </aside>

        <div class="col-12 col-md-9 p-4 screen-content">
            <div class="row">
                <div class="col">
                    <h2 class="screen-title">FORMULARIOS DE ANGULAR</h2>
                    <p>Angular posee una librerìa con la que se puede crear formularios, esto se pueden crear de dos
                        formas: </p>
                    <div>
                        <ul>
                            <p>Formularios Reactivos:</p>
                            <li>Configuraciòn de modelo de formulario: Explicitamente creados en la clase del componente
                            </li>
                            <li>Modelo de datos: Estructurado e Inmutable</li>
                            <li>Flujo de datos: Sincronico</li>
                            <li>Validaciòn de formulario: Funciones</li>
                        </ul>
                        <ul>
                            <p>Formularios basados en plantilla</p>
                            <li>Configuraciòn de modelo de formulario: Implicitamente creados por directivas</li>
                            <li>Modelo de datos: Sin estructura y mutable</li>
                            <li>Flujo de datos: Asíncrono</li>
                            <li>Validaciòn de formulario: Directivas</li>
                        </ul>
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col">

                    <h2 class="screen-title">Clases màs comunes usadas en formularios</h2>

                    <ul>
                        <li>FormBuilder: permite usar un azucar sintàctico para crear instancias de formControl,
                            formGroup o formArray</li>
                        <ul>
                            <li></li>
                            <li></li>
                        </ul>
                    </ul>

                    <ul>
                        <li>FormControl: es un objeto que se usa sobre los campos de los formularios para tener un
                            control sobre su
                            valor su estado en el formulario.
                            <ul>
                                <li>La clase posee metodos para evaluar su seguimiento</li>
                                <li>
                                    <a href="https://angular.io/api/forms/FormControl">FormControl</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul>
                        <li>FormGroup: representa un formulario que contienen un conjunto de FormControls(campos) donde:
                            <ul>
                                <li>La clase FormGroup poseé métodos y valores para examinar su estado y para gestionar
                                    sus formControls</li>
                                <li>El estado de este objeto depende del estado de sus formControls</li>
                                <li><a href="https://angular.io/api/forms/FormGroup">FormGroup</a></li>
                            </ul>
                        </li>
                        <li>FormArray: agrega los valores de cada FormControl en un Array. Si uno de los controles de FormControl no es vàlido. toda la matriz deja de ser vàlida
                            <ul>
                                <li><a href="https://angular.io/api/forms/FormArray">FormArray</a></li>
                                <li></li>
                            </ul>
                        </li>
                        <li>Validators: representa un conjunto de validaciones hechos a un campo formControl
                            <ul>
                                <li>
                                    <a href="https://angular.io/api/forms/Validators">Validators</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="row">
                <div class="col-6">
                    <h2 class="screen-title">Ejemplo formGroup</h2>

                    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="formGroupEjemplo">
                        <div class="form-group">
                            <label>Full name</label>
                            <input type="text" placeholder="Nombre debe tener màs de 6 caracteres"
                                formControlName="name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Email address</label>
                            <input type="email" placeholder="Your passwornd" formControlName="password"
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Confirm address</label>
                            <input type="password" placeholder="Confirm your password" formControlName="passwordRepeat"
                                class="form-control">
                        </div>
                        <button class="btn" type="submit" [disabled]="formGroupEjemplo.invalid">Sign up</button>
                    </form>
                </div>

                <div class="col-6">
                    <h2 class="screen-title">Ejemplo formBuilderGroup</h2>
                    <a href="https://juliescript.dev/formularios-dinamicos-angular/">Form Builder y Formularios
                        Dinàmicos Angular (Revisar)</a>

                    <form [formGroup]="formGroupBuilderEjemplo">

                        <div formArrayName="campoEjemplo">
                            <div *ngFor="let trabajo of campoEjemploArray.controls; let i = index;">
                                <div>
                                    <label>Empresa:</label><br />
                                    <input type="text" />
                                </div>
                                <div>
                                    <label>Puesto:</label><br />
                                    <input type="text" />
                                </div>
                                <div>
                                    <label>Descripción:</label><br />
                                    <textarea></textarea>
                                </div>
                                
                                <hr />
                                <button (click)="eliminarCampos(i)">
                                    + Eliminar
                                </button>
                            </div>
                            <button (click)="agregarCampos()">
                                + Añadir
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>