<div class="container-fluid p-0 m-0 page">
    <div class="row d-flex flex-row page-content">
        <aside class="col-12 col-md-3 d-flex justify-content-center align-items-center aside">
            <h2 class="aside-title">
                DIRECTIVA NgStyle
            </h2>
        </aside>
        
        <div class="col-12 col-md-9 p-4 screen-content">
            <div class="row">
                <div class="col">
                    <h2 class="screen-title">DIRECTIVA NgStyle</h2>
                    <p>Mecanismo para asignar propiedades CSS a elementos HTML.</p>
                    
                    <p>Para usar NgStyle <strong class="screen-title">{{ "\[ngStyle\]=\{'css-prop': valor}" }}</strong></p>
                    
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h2 class="screen-title">Ejemplo</h2>
                    <table>
                        <th colspan="2" class="table-title">
                            DIRECTIVA NgStyle
                        </th>
                        <tbody>
                            <tr>
                                <td class="col-6">Código</td>
                                <td class="col-6" >Resultado</td>
                                
                            </tr>
                            <tr>
                                <td class="col-6">NgStyle con solo un estilo.</td>
                                <td class="col-6">
                                    <p [ngStyle]="{'color': 'violet'}">Soy un elemento con un estilo ngStyle</p>
                                    
                                </td>
                            </tr>
                            
                            <tr>
                                <td class="col-6">NgStyle con varios estilos</td>
                                <p [ngStyle]="{'font-family': 'serif', 'color': '#676789'}">Soy un elemento con varios estilos en ngStyle</p>
                                
                            </tr>

                            <tr>
                                <td class="col-6">NgStyle con propiedad determinada en pixeles</td>
                                <div [ngStyle]="{'max-width.px': widthExp, 'background-color': '#676344'}">Soy un elemento con un valor determinado en px</div>
                            </tr>    

                            <tr>
                                <td class="col-6">NgStyle con objeto de propiedades</td>
                                <div [ngStyle]="presentacion">Soy un elemento estilizado con un objeto de propiedades CSS</div>
                            </tr>
                            
                            <tr>
                                <td class="col-6">Estilos individuales</td>
                                <div [style.background-color]="'#676767'">Soy un elemento con un estilo backgroun-color indivudual</div>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>        
    </div>
</div>