.link-item {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 22em;
    min-width: 10vw;
    
    background-color: slateblue;
    box-shadow: 4px 6px 6px 0px #333;
    text-decoration: none;
    transform: scale(1.0);
    transition: transform 1s ease;
    -webkit-transition: transform 1s ease;
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -o-transform: scale(1.0);
    -moz-transition: transform 1s ease;
    -ms-transition: transform 1s ease;
    -o-transition: transform 1s ease;
}

.link-item:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.item-text{
    display: flex;
    color: #fafafa;
    font: bold 1.8em 'Century Gothic';
    text-align: center;
}