<div class="container-fluid ">
    <div class="row justify-content-center ">
        <div class="col-12">
            <h2 class="item-text">Anotaciones Angular</h2>
        </div>
    </div>
    <div class="row  justify-content-center align-items-center align-content-center p-3">
        <div class="col-12 col-sm-6 col-md-3 p-4">
            <a href="/interpolacion" class="link-item p-4">
                <div class="item">
                    <p class="item-text">Interpolación</p>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-3 p-4">
            <a href="/template-variables" class="link-item p-4">
                <div class="item">
                    <p class="item-text">Template Variables</p>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-3 p-4">
            <a href="/propery-binding" class="link-item p-4">
                <div class="item">
                    <p class="item-text">Propery Binding</p>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-3 p-4">
            <a href="/two-way-binding" class="link-item p-4">
                <div class="item">
                    <p class="item-text">Two Way Binding</p>
                </div>
            </a>
        </div>

        <div class="col-12 col-sm-6 col-md-3 p-4">
            <a href="/comunicacion-padre-a-hijo" class="link-item p-4">
                <div class="item">
                    <p class="item-text">Comunicaciòn Padre a Hijo</p>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-3 p-4">
            <a href="/comunicacion-hijo-a-padre" class="link-item p-4">
                <div class="item">
                    <p class="item-text">Comunicaciòn Hijo a Padre</p>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-3 p-4">
            <a href="/comunicacion-bidireccional" class="link-item p-4">
                <div class="item">
                    <p class="item-text">Comunicacion bidireccional</p>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-3 p-4">
            <a href="/servicios" class="link-item p-4">
                <div class="item">
                    <p class="item-text">Servicios</p>
                </div>
            </a>
        </div>


        <div class="col-12 col-sm-6 col-md-3 p-4">
            <a href="/directiva-ngif" class="link-item p-4">
                <div class="item">
                    <p class="item-text">Directiva ngIf</p>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-3 p-4">
            <a href="/directiva-ngfor" class="link-item p-4">
                <div class="item">
                    <p class="item-text">Directiva ngFor</p>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-3 p-4">
            <a href="/directiva-ngstyle" class="link-item p-4">
                <div class="item">
                    <p class="item-text">Directiva ngStyle</p>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-3 p-4">
            <a href="directiva-ngclass" class="link-item p-4">
                <div class="item">
                    <p class="item-text">Directiva ngClass</p>
                </div>
            </a>
        </div>


        <div class="col-12 col-sm-6 col-md-3 p-4">
            <a href="/elementos-renderizables-especiales" class="link-item p-4">
                <div class="item">
                    <p class="item-text">Elementos especiales Ng-element</p>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-3 p-4">
            <a href="/routing" class="link-item p-4">
                <div class="item">
                    <p class="item-text">Routing</p>
                </div>
            </a>
        </div>

        <div class="col-12 col-sm-6 col-md-3 p-4">
            <a href="/formularios-angular" class="link-item p-4">
                <div class="item">
                    <p class="item-text">Formularios Angular</p>
                </div>
            </a>
        </div>

        <div class="col-12 col-sm-6 col-md-3 p-4">
            <a href="/libreria-formly" class="link-item p-4">
                <div class="item">
                    <p class="item-text">Libreria Formly</p>
                </div>
            </a>
        </div>
    </div>
</div>