<div class="container-fluid p-0 m-0 page">
    <div class="row d-flex flex-row page-content">
        <aside class="col-12 col-md-3 d-flex justify-content-center align-items-center aside">
            <h2 class="aside-title">
                
                Comunicacion Padre a Hijo
            </h2>
        </aside>
        
        <div class="col-12 col-md-9 p-4 screen-content">
            <div class="row">
                <div class="col">
                    <h2 class="screen-title">COMUNICACION PADRE A HIJO</h2>
                    <p>Mecanismo en el que un componente padre de pasa varialbes o datos a componentes hijos.</p>
                    
                    <p>Para comunicar se una la anotaciòn <strong class="screen-title">{{ "@input() mensajeDesdeElPadre: any" }}</strong> y debe estar declarada en el hijo</p>
                    
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h2 class="screen-title">Ejemplo</h2>
                    <table>
                        <th colspan="2" class="table-title">
                            Comunicaciòn Padre a Hijo
                        </th>
                        <tbody>
                            <tr>
                                <td class="col-6">Código</td>
                                <td class="col-6" >Resultado</td>
                                
                            </tr>
                            <tr>
                                <td class="col-6">.</td>
                                <td class="col-6">
                                    <app-componente-hijo *ngFor="let planeta of planetas; let i = index" [planetasDeHijo]="planeta" [indice]="i"> </app-componente-hijo>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>        
    </div>
</div>